<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Damon Golding : Digital Designer</title>

    <meta name="description" content="{{ site.data.meta.description }}" />
    <meta name="keywords" content="{{ site.data.meta.keywords }}" />
    <meta name="robots" content="" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="{{ site.data.meta.description }}" />
    <meta name="twitter:site" content="{{ site.data.social.twitterHandle }}" />
    <meta name="twitter:title" content="{{ site.data.meta.title }}" />
    <meta
      name="twitter:description"
      content="{{ site.data.meta.description }}"
    />
    <meta
      name="twitter:creator"
      content="{{ site.data.social.twitterHandle }}"
    />
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="{{ url }}" />

    <!-- Open Graph (facebook) data -->
    <meta property="og:title" content="{{ site.data.meta.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="" />
    <meta
      property="og:description"
      content="{{ site.data.meta.description }}"
    />
    <meta property="og:site_name" content="{{ site.data.meta.title }}" />

    <link rel="canonical" href="{{ page.url }}" />


    <link rel="stylesheet" href="assets/css/main.css" />

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  </head>
<body>

    <section id="introduction-animation" class="hero is-fullheight">
        <div id="introduction-animation-bg"></div>
        <div class="hero-body">
          <div class="container">
            <h1 id="introduction-animation-title" class="title is-1">
              Welcome!
            </h1>
          </div>
        </div>
      </section>
