@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links

$lightGrey: #eeeeee;
$darkGrey: #141520;
$blue: #254473;
$red: #e54b4b;

// secondary colour
$pink: #e54b4b;
$green: #379a4d;
$darkGreen: #21602f;
$purple: #6a379a;

$primary-color: $blue;

// Typography
$body-font-size: 1.125rem;
$family-sans-serif: "Lato", "Helvetica", "Arial", sans-serif;
$body-color: #757575;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;

$widescreen-enabled: true;
$fullhd-enabled: false;

// 4. Import the rest of Bulma

@import "bulma/bulma";

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: $blue;
  font-weight: 700;
}

.content a {
  font-weight: 700;
  border-bottom: 1px solid $blue;
}


#introduction-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10000;
  .title {
    color: #fff;
  }
  #introduction-animation-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $blue;
    width: 100%;
    height: 100%;
  }
}

.page-title {
  .title {
    color: $blue;
    font-weight: 700;
  }
  #introduction-highlight {
    flex-grow: 1;
    border-left: 12px solid $blue;
    padding: 0rem 1.5rem;
  }
}

.has-divider {
  &:before {
    position: absolute;
    content: "";
    width: 4rem;
    height: 0.5rem;
    background-color: $blue;
    top: 2rem;
  }
}

#skills,
#values {
  .skill,
  .value {
    margin-bottom: 2rem;
  }
}

#pageloader {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  position: fixed;
  background: #254473;
	z-index: 999998;
	transform: translate(-100%,0);
}
