{% include header.html %}

<div id="content">
  <section class="hero page-title is-medium">
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-menu is-active is-shadowless">
            <div class="navbar-start">
              {% for item in site.data.nav.pages %}
              <a
                href="{{ item.url }}"
                onclick="loadpage(event); return false;"
                class="navbar-item{% if item.slug == page.url %} is-active{% endif %}"
              >
                {{ item.title }}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="hero-body">
      <div id="introduction-highlight">
        <div class="container">
          <div class="columns">
            <div
              id="introduction"
              class="column content is-9-tablet is-7-desktop is-6-widescreen"
            >
              <h1 class="title is-1 is-spaced">
                Contact me.
              </h1>
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column content is-9-tablet is-7-desktop is-6-widescreen">
          <form name="contact" action="POST" data-netlify="true">
            <div class="field">
              <label class="label is-medium">Name</label>
              <div class="control">
                <input
                  name="name"
                  class="input is-medium"
                  type="text"
                  placeholder="Your name"
                />
              </div>
            </div>

            <div class="field">
              <label class="label is-medium">Email</label>
              <div class="control">
                <input
                  name="email"
                  class="input is-medium"
                  type="email"
                  placeholder="you@email.com"
                />
              </div>
            </div>

            <div class="field">
              <label class="label is-medium">Message</label>
              <div class="control">
                <textarea
                  name="message"
                  class="textarea is-medium"
                  placeholder="Hi Damon..."
                ></textarea>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link is-medium is-rounded">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

{% include footer.html %}
